<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azabost.quest.posts">

    <application>
        <activity android:name=".ui.list.PostsActivity" />
        <activity android:name=".ui.details.PostDetailsActivity" />
    </application>

</manifest>
